/* NavBar.module.css */

.navbar {
    background-color: #ffffff; /* Equivalent to Tailwind's bg-gray-800 */
    padding: 16px;
    border-bottom: 1px solid #333;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logoLink img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  
  .mobileMenuButton {
    background: none;
    border: none;
    color: rgb(80, 80, 80);
    cursor: pointer;
    display: block;
  }
  
  .menuIcon {
    width: 24px;
    height: 24px;
  }
  
  .navLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    display: none;
  }
  
  .navOpen {
    display: block;
  }
  
  @media (min-width: 768px) {
    .mobileMenuButton {
      display: none; /* Hide mobile menu button on larger screens */
    }
  
    .navLinks {
      flex-direction: row;
      align-items: center;
      display: flex;
    }
  }
  
  .navLink {
    color: rgb(107, 107, 107);
    text-decoration: none;
    padding: 8px 16px;
    transition: background 0.3s;
  }
  
  .navLink:hover {
    background-color: #e09fff;
  }
  
  .buttonLink {
    margin-left: 16px;
  }
  
  .registerButton, .loginButton {
    background-color: transparent;
    border: 2px solid white;
    color: rgb(116, 116, 116);
    padding: 8px 16px;
    margin-left: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .registerButton:hover {
    background-color: #9800d4; /* Example: blue background on hover */
  }
  
  .loginButton:hover {
    background-color: #6416a3; /* Example: green background on hover */
  }
  